[package]
name = "{{NAME}}"
edition = "2021"

[[bin]]
name = "{{NAME}}"
path = "main.rs"

[dependencies]
proconio.workspace = true
num-bigint.workspace = true
num-traits.workspace = true
itertools.workspace = true
ac-lib.workspace = true
